table {
    border: 1px solid black;
    width: 150px;
}

table td {
    border: 1px solid black;
    background-color: rgb(68, 123, 65);
    color: white;
}

table th {
    border: 1px solid black;
    background-color: rgb(218, 243, 107);
}